body,
html {
    background-color: #F3F5F1;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#head {
    height: 125px;
    color: #434441;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;

}

#start {
    font-size: 20px
}
